body{
    margin: 0;
    padding-top: 160px;
    
}
.header{
    position: absolute;
    background-color: #66100F;;
    top: 0;
    left: 0;
    right: 0;
    height: 120px; 

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.left-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
}
.search-icon{
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-right: 100px;
}
.search-text{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    cursor: pointer;
    margin-right: 100px;
}
.icon{
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.text{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.middle-section{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}
.logo-picture{
    width: 220px;

}
.right-margin{
    margin-right: 300px;
    display: flex;
    flex-direction: row;
    
}
.right-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}
.right-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 450px;
}
.sub-header{
    position: absolute;
    top: 120px;
    height: 40px;
    left: 0;
    right: 0;
    background: #FFFEFE;
    background: linear-gradient(180deg, #FFFEFE 0%, #cecece 100%);

    display: flex;
    align-items: center;
    justify-content: center;
}
.vouch-text{
    font-family: "Inter", sans-serif;
    color: #6A6868;
    font-weight: 500;
}

.signup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.signup-text{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 82px;
    color: #66100F;
    margin-bottom: 20px;
}
.signup-input-box{
    display: flex;
    flex-direction: column;
    height: 485px;
    justify-content: space-between;
}
.signup-input{
    border-color: #66100F;
    color: #66100F;
    border-width: 1px;
    border-style: solid;
    font-size: 18px;
    padding: 15px 200px 15px 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.gender-checkbox-container{
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    top: 785px;
    left: 742px;
}

.firstname-text{
    color: #66100F;
    font-size: 20px;
    font-family: "Mohave", sans-serif; 
    font-weight: 700;
    position: absolute;
    top: 261px;
    left: 745px;
}

.lastname-text{
    color: #66100F;
    font-size: 20px;
    font-family: "Mohave", sans-serif; 
    font-weight: 700;
    position: absolute;
    top: 345px;
    left: 745px;
}

.email-text{
    color: #66100F;
    font-size: 20px;
    font-family: "Mohave", sans-serif; 
    font-weight: 700;
    position: absolute;
    top: 428px;
    left: 745px;
}

.address-text{
    color: #66100F;
    font-size: 20px;
    font-family: "Mohave", sans-serif; 
    font-weight: 700;
    position: absolute;
    top: 511px;
    left: 745px;
}

.number-text{
    color: #66100F;
    font-size: 20px;
    font-family: "Mohave", sans-serif; 
    font-weight: 700;
    position: absolute;
    top: 594px;
    left: 745px;
}

.birthday-text{
    color: #66100F;
    font-size: 20px;
    font-family: "Mohave", sans-serif; 
    font-weight: 700;
    position: absolute;
    top: 677px;
    left: 745px;
}

.gender-text{
    color: #66100F;
    font-size: 20px;
    font-family: "Mohave", sans-serif; 
    font-weight: 700;
    position: absolute;
    top: 760px;
    left: 745px;
}

.gender-checkbox{
    color: #66100F;
}
.gender-option{
    color: #66100F;
    margin-right: 15px;
}

.signup-btn{
    letter-spacing: 3px;
    font-weight: bold;
    margin-top: 70px;

    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: #d22f2e;
    --btn-bg-2: #66100F;
    --btn-bg-color: #D8D01F;
    --radii: 0.5em;
    cursor: pointer;
    padding: 0.4em 4.5em;
    min-width: 120px;
    min-height: 44px;
    font-size: var(--size, 2rem);
    font-family: "Mohave", sans-serif; 
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow: 0px 0px 20px rgb(90, 0, 0), 0px 5px 5px -1px rgba(187, 6, 6, 0.25), inset 4px 4px 8px rgba(245, 40, 40, 0.5), inset -4px -4px 8px rgba(112, 2, 2, 0.35);
}    
.signup-btn:hover{
    background-position: right top;
}

.signin-link{
    color: #66100F;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 150px;
}
.signin-link:hover{
    color: #d22f2e;
    text-decoration: underline;
}
.footer{
    position: relative;
    background-color: #66100F;
    bottom: 0;
    left: 0;
    right: 0;
    height: 380px;

    display: flex;
    justify-content: space-between;
}
.left-footer-container{
    width: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo{
    width: 270px;
}
.footer-icon-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: absolute;
    top: 220px;
}
.footer-icon{
    font-size: 40px;
    color: white;
    margin-left: 30px;
    cursor: pointer;
}

.footer-icon:hover{
    color: #d22f2e;
}

.middle-footer-container{
    flex: 1;
    
}
.explore-txt{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 20px;
    margin-top: 70px;
    margin-left: 70px;
    cursor: pointer;
}
.explore-txt:hover{
    color: #d22f2e;
}

.about-txt{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 70px;
    font-size: 25px;
    margin-top: 30px;
    cursor: pointer;
}
.about-txt:hover{
    color: #d22f2e;
}
.faqs-txt, .privacy-txt, .terms-txt, .refund-txt{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 70px;
    font-size: 25px;
    cursor: pointer;
}
.faqs-txt:hover, .privacy-txt:hover, .terms-txt:hover, .refund-txt:hover{
    color:#d22f2e
}
.connect-txt{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 20px;
    margin-top: 70px;
    margin-right: 200px;
    margin-bottom: 21px;
    cursor: pointer;
}
.connect-txt:hover{
    color: #d22f2e;
}
.contact-txt, .store-txt, .bulk-txt, .eco-txt, .philippines-txt{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 200px;
    font-size: 25px;
    cursor: pointer;
}
.contact-txt:hover, .store-txt:hover, .bulk-txt:hover, .eco-txt:hover, .philippines-txt:hover{
    color: #d22f2e;
}

.bottom{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 20px;
}

.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    border: 6px solid rgb(90, 0, 0);

}
.box div:nth-child(1){
    top: 70%;
    left: 90%;
    animation: animate 10s linear infinite;
  }
  .box div:nth-child(2){
    top: 50%;
    left: 90%;
    animation: animate 7s linear infinite;
  }
.box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}
.box div:nth-child(6){
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}
.box div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}
.box div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}
.box div:nth-child(9){
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(10){
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}